@import '../Utils/variables.scss';

.main {
    color: darken($grey, 70%);
    display: flex;
    flex-wrap: wrap;
    font-family: 'open-sans', sans-serif;
    font-size: 1.5rem;
    margin: 40px auto;
    width: 85%;
    @media (min-width: 200px) and (max-width: 600px){
        width: 95%;
        margin-top: 20px;
    }
}

.roadmap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;

    &__title {
        font-family: 'rift', sans-serif;
        font-size: 5rem;
        position: relative;
        width: 100%;
    }

    &__hero {
        background-image: url("../../assets/images/road.jpg");
        background-repeat: repeat-x;
        background-position: center center;
        background-size: cover;
        filter: grayscale(20%);
        height: 300px;
        width: 100%;
        z-index: 0;
        @media (min-width: 200px) and (max-width: 1024px){
            height: 200px;
        }
    }
}

.timeline {
    margin: 50px auto;
    position: relative;
    padding-bottom: 30px;
    width: 100%;

    &::before {
        background-color: darken($grey, 60%);
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        width: 0.5px;
        @media (min-width: 200px) and (max-width: 600px){
            display: none;
        }
    }

    &__item {
        margin-top: 20px;
        position: relative;
        padding: 20px 40px;
        width: 50%;
        @media (min-width: 200px) and (max-width: 600px){
            width: 100%;
            padding: 60px 0;
        }
    }

    &__item:first-child {
        @media (min-width: 200px) and (max-width: 600px){
            padding-top: 60px;
        }
    }

    &__item:nth-child(odd) {
        clear: both;
        float: left;
        text-align: right;
        @media (min-width: 200px) and (max-width: 600px){
            clear: none;
            width: 100%;
            text-align: left;
        }
    }

    &__item:nth-child(odd) .time{
        background-color: $violet;
        border-radius: 30px;
        box-shadow: 0 0 0 4px rgba(199, 20, 184, .3);
        position: absolute;
        padding: 5px 20px;
        top: 10px;
        right: -220px;
        @media (min-width: 200px) and (max-width: 600px){
            left: 50%;
            transform: translateX(-50%);
            width: 160px;
        }

        &__title {
            color: $white;
            font-size: 1.5rem;
            font-weight: 300;
            font-family: 'rift', sans-serif;
            @media (min-width: 200px) and (max-width: 600px){
                text-align: center;
            }
        }
    }

    &__item:nth-child(even) .time{
        background-color: $violet;
        border-radius: 30px;
        box-shadow: 0 0 0 4px rgba(199, 20, 184, .3);
        left: -220px;
        position: absolute;
        padding: 5px 20px;
        top: 10px;
        @media (min-width: 200px) and (max-width: 600px){
            left: 50%;
            transform: translateX(-50%);
            width: 160px;
        }

        &__title {
            color: $white;
            font-size: 1.5rem;
            font-weight: 300;
            font-family: 'rift', sans-serif;
            @media (min-width: 200px) and (max-width: 600px){
                text-align: center;
            }
        }
    }

    &__item:nth-child(odd)::before {
        background-color:rgb(199, 20, 184);
        border-radius: 50%;
        content: '';
        height: 10px;
        right: -5px;
        position: absolute;
        top: 30px;
        transition: background-color, box-shadow 1s ease;
        width: 10px;
        @media (min-width: 200px) and (max-width: 600px){
            display: none;
        }
    }

    &__item:nth-child(odd):hover::before {
        background-color:rgb(199, 20, 184);
        box-shadow: 0 0 0 5px rgba(199, 20, 184, .3);
    }

    &__item:nth-child(even)::before {
        background-color:rgb(199, 20, 184);
        border-radius: 50%;
        content: '';
        height: 10px;
        left: -5px;
        position: absolute;
        top: 30px;
        transition: background-color, box-shadow 1s ease;
        width: 10px;
        @media (min-width: 200px) and (max-width: 600px){
            display: none;
        }
    }

    &__item:nth-child(even):hover::before {
        background-color:rgb(199, 20, 184);
        box-shadow: 0 0 0 5px rgba(199, 20, 184, .3);
    }

    &__item:nth-child(even) {
        clear: both;
        float: right;
    }

    &__clearFix {
        clear: both;
    }
}

.article {
    position: relative;

    &__title {
        font-size: 1.5rem;
        font-family: 'rift', sans-serif;
        margin-bottom: 30px;
        @media (min-width: 200px) and (max-width: 600px){
            margin-bottom: 10px;
            padding-top: 20px;
            text-align: left; 
        }
    }

    &__description {
        font-size: 1.125rem;
        padding: 20px;
        @media (min-width: 200px) and (max-width: 600px){
            padding: 0;
        }
        transition: background-color .5s ease-in-out;
    }

    &__description:hover {
        background-color: darken($grey, 5%);
    }

    &__link:link, &__link:visited {
        color: $violet;
    }

    &__titleList {
        color: $violet;
        font-size: 1.5rem;
        font-family: 'rift', sans-serif;
        padding: 20px;
    }

    &__list {
        padding: 0 20px;
    }

    &__item {
        font-size: 1.125rem;
        padding: 2px 0;
    }
}