@import '../Utils/variables.scss';

.main {
    color: darken($grey, 70%);
    display: flex;
    font-family: 'open-sans', sans-serif;
    font-size: 1.5rem;
    margin: 40px auto;
    min-height: 100%;
    width: 85%;
}

.author {
    width: 50%;

    &__title {
        font-family: 'rift', sans-serif;
        font-size: 5rem;
        line-height: 7rem;
    }

    &__description {
        margin-bottom: 30px;
    }

    &__email {
        height: 50px;
    }

    &__link {
        background-color: darken($grey, 70%);
        color: $white;
        display: inline-block;
        font-family: 'rift';
        font-size: 1.5rem;
        font-weight: 300;
        float: right;
        letter-spacing: 2px;
        line-height: 3rem;
        padding: 0 10px;
        text-decoration: none;
    }
}

.image {
    width: 50%;

    &__decoration {
        width: 100%;
    }
}