@import '../Utils/variables.scss';

.main {
    color: darken($grey, 70%);
    display: flex;
    font-family: 'open-sans', sans-serif;
    font-size: 1.5rem;
    margin: 40px auto;
    width: 85%;
}

.author {
    width: 50%;

    &__title {
        font-family: 'rift', sans-serif;
        font-size: 5rem;
        line-height: 7rem;
    }

    &__description {
        margin-bottom: 30px;
    }
}

.image {
    width: 50%;

    &__decoration {
        width: 100%;
    }
}