@import '../Utils/variables.scss';

.main {
    color: darken($grey, 70%);
    display: flex;
    font-family: 'open-sans', sans-serif;
    font-size: 1.5rem;
    margin: 40px auto;
    // min-height: 100%;
    width: 85%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__hero {
        background-image: url("../../assets/images/programming.jpg");
        background-repeat: repeat-x;
        background-position: center center;
        background-size: cover;
        filter: grayscale(20%);
        height: 300px;
        width: 100%;
        z-index: 0;
    }

    &__box {
        display: flex;
        margin-bottom: 100px;
        width: 100%;
    }

    &__title {
        font-family: 'rift', sans-serif;
        font-size: 5rem;
        position: relative;
        width: 50%;
    }

    &__list {
        width: 100%;
    }

    &__item, &__itemViolet, &__itemYellow, &__itemBlue  {
        background-image: url(../../assets/images/check-green.svg);
        background-repeat:no-repeat;
        background-position:left center; 
        font-size: 1.125rem;
        line-height:150%;
        padding-left: 10px;
        padding-left:40px;

        &Violet {
            background-image: url(../../assets/images/check-violet.svg); 
        }

        &Yellow {
            background-image: url(../../assets/images/check-yellow.svg); 
        }

        &Blue {
            background-image: url(../../assets/images/check-blue.svg); 
        }
    }

    &__listsWrapper {
        column-count: 2;
        width: 50%;
    }
}

.article {
    width: 50%;

    &__title {
        position: relative;
    }

    &__title::before {
        content: "";
        background-color: darken($grey, 70%);
        border-radius: 10px;
        height: 5px;
        left: 0;
        position: absolute;
        top: -10px;
        width: 30%;
    }
}